---

---

<div class="rounded p-4 flex flex-col items-center">
  <h2 class="text-lg font-semibold m-4 text-center">Datos de Identificación</h2>

  <form
    class="space-y-4 w-2/3 max-w-xl text-sm text-black font-semibold shadow-md"
  >
    <div>
      <label for="name">Nombre:</label>
      <input
        type="text"
        name="name"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="name">Apellido:</label>
      <input
        type="text"
        name="name"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="telephone">Teléfono:</label>
      <input
        type="text"
        name="telephone"
        required
        class="w-full border border-gray-400 p-2 rounded outline-gray-500"
      />
    </div>
  </form>
</div>
