---

---

<div class="flex flex-col items-center rounded p-4">
  <h2 class="text-lg font-semibold m-4">Datos de Identificación</h2>

  <form
    class="space-y-4 w-2/3 max-w-xl text-sm text-black font-semibold shadow-md"
  >
    <div>
      <label for="country">País:</label>
      <input
        type="text"
        name="country"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="region">Región:</label>
      <input
        type="text"
        name="region"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="province">Provincia:</label>
      <input
        type="text"
        name="province"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="district">Distrito:</label>
      <input
        type="text"
        name="district"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="street-name">Calle:</label>
      <input
        type="text"
        name="street-name"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
    <div>
      <label for="street-number">Número:</label>
      <input
        type="text"
        name="street-number"
        required
        class="w-full border p-2 rounded border-gray-400 outline-gray-500"
      />
    </div>
  </form>
</div>
