---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 overflow-hidden"
  >
    <ProductCard
      name="Foundation"
      image="/images/producto1.webp"
      price="30.00"
      link="/product/foundation"
    />
  </div>
</Layout>
