---
import Layout from "../layouts/Layout.astro";
import Carrusel from "../components/Carrusel.astro";
---

<Layout>
  <Carrusel>
    
      <div
      class="diapositiva  w-full h-full bg-blue-200"
    >
      Diapositiva 1
    </div>
    <div
      class="diapositiva  w-full h-full bg-green-200 hidden"
    >
      Diapositiva 2
    </div>
    <div
      class="diapositiva  w-full h-full bg-red-200 hidden"
    >
      Diapositiva 3
    </div>
   
   
  </Carrusel>

  <style is:global>
    /* Asegura que las diapositivas dentro del contenedor ocupen el espacio */
    .carrusel-diapositivas > .diapositiva {
      position: absolute; /* Para que solo una sea visible a la vez y ocupe el contenedor */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    /* Transiciones suaves */
    .diapositiva {
      transition: opacity 0.5s ease-in-out;
    }
    .diapositiva.hidden {
      opacity: 0;
    }
  </style>
</Layout>
