---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout>
    <Carousel/>
    <ProductCard
      name="Foundation"
      image="/images/producto1.webp"
      price="30.00"
      link="/product/foundation"
    />
    <ProductCard
      name="Foundation"
      image="/images/producto1.webp"
      price="30.00"
      link="/product/foundation"
    />
    
  </div>
</Layout>
