---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import RenderImagen from "../components/RenderImagen.astro";
import RenderProducto from "../components/RenderProducto.astro";
import imagenes from "../data/images.json";
import productos from "../data/products.json";
---

<Layout>
  <Carousel>
    {imagenes.map((img) => <RenderImagen img={img} />)}
  </Carousel>

  <section class="my-12">
    <h2 class="text-4xl font-bold mb-8 text-center">Los Mas Vendidos</h2>
    <Carousel>
      {productos.slice(0, 5).map((p) => <RenderProducto producto={p} />)}
    </Carousel>
  </section>
</Layout>
