---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="bg-white p-20 w-full ">
        <div
          class="max-w-7xl items-center">
          <!-- Texto -->
          <div class="flex-1">
            <h2 class="text-orange-300 text-7xl font-bold mb-6 text-center">POLÍTICAS DE PRIVACIDAD</h2>
            <br>
            <h3 class="text-3xl font-bold mb-4">Privacidad y confidencialidad</h3>
            
            <p class="mb-6 text-xs">
                Gracias por acceder a nuestra página web operada por AROMA GROUP S.R.L. Nosotros respetamos su privacidad y deseamos pr oteger su información personal. Para obtener más información, por favor lea nuestra Política de Privacidad.
                <br><br>
                Nuestra Política de Privacidad explica cómo recolectamos, utilizamos y (bajo ciertas condiciones) divulgamos su información personal. Esta Política de Privacidad también explica las medidas que hemos tomado para asegurar su información personal. Por último, esta política de privacidad explica las opciones respecto a la recopilación, uso y divulgación de su información personal. Al visitar el sitio directamente o a través de otro sitio, Ud. está aceptando las prácticas descritas en esta Política.
                <br><br>
                La protección de datos es una cuestión de confianza y privacidad, por ello es importante para nosotros. Por lo tanto, utilizaremos solamente su nombre y otra información referente a Ud. bajo los términos previstos en nuestra Política de Privacidad.
                <br><br>
                Sólo mantendremos su información durante el tiempo que nos sea requerido por la ley o debido a la relevancia de los propios fines para los que fueron recopilados.
                <br><br>
                Puede visitar el sitio y navegar sin tener que proporcionar datos personales. Durante su visita al sitio, permanecerá anónimo y en ningún momento podremos identificarlo, a menos que tenga una cuenta en el sitio e inicie sesión con su nombre de usuario y contraseña.
                <br><br>
            </p>

            <h3 class="text-3xl font-bold mb-4">Los datos que recogemos</h3>
            
            <p class="mb-6 text-xs">
                Recopilaremos varios datos suyos en el momento en que realice la compra de un producto en nuestro sitio.
                <br><br>
                Nosotros recogeremos, almacenaremos y procesaremos los datos para el procesamiento de su compra en el Sitio y cualquier reclamo posterior, al igual que para ofrecerle nuestros servicios. Podemos recopilar información personal, incluyendo pero no limitado a, el título, nombre, fecha de nacimiento, dirección de correo electrónico, dirección de entrega, número de teléfono, número de teléfono celular, datos de pago, detalles de la tarjeta de pago (crédito o débito).
                <br><br>
                Usaremos la información que proporciona para que podamos procesar sus pedidos y para ofrecerle los servicios e información ofrecidos a través de nuestra página web que solicite. Además, usaremos la información que proporcione para administrar su cuenta con nosotros, verificar y llevar a cabo transacciones financieras en relación con los pagos que realice en línea, la auditoría de la descarga de datos desde nuestro sitio web, mejorar el diseño y / o contenido de las páginas de nuestro sitio web y personalizar a los usuarios, identificar a los visitantes en nuestro sitio web, llevar a cabo investigaciones sobre la demografía de nuestros usuarios; le enviaremos la información que pensamos que puede serle útil o que nos ha solicitado, incluida información sobre nuestros productos y servicios, a menos que nos haya comunicado que se ha opuesto a ser contactado para estos fines. Sujeto a la obtención de su consentimiento podemos comunicarnos por correo electrónico con los detalles de otros productos y servicios. Si prefiere no recibir comunicaciones de marketing, puede comunicarlo en cualquier momento y dejará de recibir dichas comunicaciones.
                <br><br>
                Si lo deseas, nos puedes pasar el nombre y DNI de un tercero para hacer la entrega de su producto.
                <br><br>
                Los pagos que se realicen a través del Sitio serán procesados por nuestro agente de pagos en línea. Sólo debe proporcionar su información en nuestro sitio. Dicha información debe ser precisa y veraz y debe mantenerse al día. Si ocurre algún cambio en sus datos, debe informarnos para poder actualizarlos en nuestra base de datos, con el fin de evitar inconvenientes en los pagos o la entrega de sus productos.
                <br><br>
                Sus detalles de la orden real pueden ser almacenados por nosotros, pero por razones de seguridad no pueden ser directamente recuperados por nosotros. Sin embargo, puede acceder a esta información ingresando a su cuenta en el Sitio. Ahí podrá ver los detalles de sus pedidos que han sido completados, los que están abiertos y los que están en proceso de ser enviados y administrar los datos de la dirección, datos financieros y cualquier boletín de noticias al que se haya suscrito. Usted se compromete a tratar sus datos personales de acceso confidencial y no ponerla a disposición de terceros no autorizados. No podemos asumir ninguna responsabilidad por el mal uso de contraseñas que haya divulgado.
                <br><br>
            </p>

            <h3 class="text-3xl font-bold mb-4">Otros usos de sus información personal</h3>
            <p class="mb-6 text-xs">
                Podemos utilizar su información personal para estudios de mercado. Sus datos son anónimos y sólo se utilizarán con fines estadísticos. Usted puede optar por no participar de esto en cualquier momento. Revelar su dirección de correo electrónico sólo es necesario si usted desea participar en los concursos.
                <br><br>
                También podemos enviarle otra información acerca de nosotros, el Sitio, nuestros otros sitios web, nuestros productos, promociones de ventas, nuestros boletines de noticias, todo lo relacionado con otras empresas de nuestro grupo o de nuestros socios. Si prefiere no recibir este tipo de información adicional, como se detalla en este apartado (o cualquier parte de ella), por favor haga clic en el 'unsubscribe' en el enlace de cualquier correo electrónico que le enviamos. Dentro de 7 días hábiles después de recibir su instrucción se dejará de enviar la información solicitada. Si su instrucción no es clara nos comunicaremos con Ud. para aclararla.
                <br><br>
                Podemos además, utilizar de manera anónima los datos sobre los usuarios del Sitio en general, y utilizarla para diversos fines, incluyendo la determinación de la ubicación general de los usuarios y el uso de ciertos aspectos del sitio o un enlace contenido en un correo electrónico a los registrados para recibirlos, y el suministro de que los datos anónimos a terceros, tales como editores. Sin embargo, los datos anónimos podrán identificarlo personalmente.
                <br><br>
            </p>

            <h3 class="text-3xl font-bold mb-4">Terceros y enlaces</h3>
            <p class="mb-6 text-xs">
                Podemos transmitir sus datos a otras empresas de nuestro grupo. También podemos proporcionar su información a nuestros agentes y subcontratistas para que nos ayuden con cualquiera de nuestros usos de sus datos que figuran en nuestra Política de Privacidad. Por ejemplo, podemos utilizar a terceros para que nos ayuden con la entrega de productos, que nos ayude a recaudar sus pagos, a analizar los datos que nos proporcione y con la comercialización o asistencia de servicio al cliente. Podemos intercambiar información con terceros a efectos de protección contra el fraude y la reducción de riesgo de crédito. Podemos transferir nuestras bases de datos que contienen su información personal si vendemos nuestro negocio o parte de este. Al margen de lo establecido en la presente Política de Privacidad, no podremos vender o divulgar sus datos personales a terceros sin obtener su consentimiento previo, a menos que sea necesario para los fines establecidos en esta Política de Privacidad a menos que estemos obligados a hacerlo por ley. El Sitio puede contener publicidad de terceros y enlaces a otros sitios o marcos de otros sitios. Tenga en cuenta que no somos responsables de las prácticas de privacidad o contenido de dichos terceros u otros sitios, ni por cualquier tercero a quien ustedes le transfiera sus datos personales.
                <br><br>
                La aceptación de las cookies no es un requisito para visitar el Sitio. Sin embargo, nos gustaría señalar que el uso de la funcionalidad "cesta" en el Sitio y la de aceptar una orden sólo es posible con la activación de las cookies. Las cookies son pequeños archivos de texto que identifican a su computadora a nuestro servidor como un usuario único, cuando visitas ciertas páginas en el sitio y que son almacenados por su navegador de Internet en el disco duro de su ordenador. Las cookies se pueden utilizar para reconocer su dirección de protocolo de Internet, que le ahorra tiempo mientras se encuentra en el Sitio o quiere entrar a él. Sólo utilizamos cookies para su comodidad en el uso del sitio (por ejemplo, para recordar quién es cuando se desea modificar su cesta de la compra sin tener que volver a introducir su dirección de correo electrónico) y no para obtener o usar cualquier otra información sobre usted (por ejemplo de publicidad segmentada). Su navegador puede ser configurado para no aceptar cookies, pero esto sería restringir su uso del Sitio. Por favor, acepte nuestra garantía de que el uso de cookies no contiene datos de carácter personal o privado, y están libres de virus. Si desea obtener más información acerca de las cookies, vaya a http://www.allaboutcookies.org o para obtener información sobre la eliminación de ellos desde el navegador, ir a http://www.allaboutcookies.org/manage-cookies/index.html.
                <br><br>

          
        <h3 class="text-3xl font-bold mb-4">Seguridad</h3>
        <p class="mb-6 text-xs">
            Tenemos en marcha las medidas técnicas y de seguridad para evitar el acceso no autorizado o ilegal o pérdida accidental de destrucción o daños a su información. Cuando se recogen datos a través del Sitio, recogemos sus datos personales en un servidor seguro. Nosotros usamos programas de protección en nuestros servidores. Cuando recopilamos información de tarjetas de pago, se utiliza el cifrado Secure Socket Layer (SSL) que codifica. Se recomienda encarecidamente no enviar todos los detalles de tarjetas de crédito o débito sin cifrar las comunicaciones electrónicas con nosotros. Mantenemos las salvaguardias físicas, electrónicas y de procedimiento en relación con la recogida, almacenamiento y divulgación de su información. Nuestros procedimientos de seguridad significan que en ocasiones puede solicitar una prueba de identidad antes de revelar información personal. Usted es responsable de la protección contra el acceso no autorizado a su contraseña y a su computadora.
              <br><br>
        </div>

        <h3 class="text-3xl font-bold mb-4">Sus derechos</h3>
        <p class="mb-6 text-xs">
            Si está preocupado acerca de sus datos, tiene el derecho de solicitar el acceso a ellos y obligarnos a corregir cualquier inexactitud de forma gratuita. En cualquier momento también tiene el derecho a pedirnos que dejemos de utilizar sus datos personales para fines de marketing directo.
              <br><br>
        </div>
    </div>

      </section>    
  
</Layout>