---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout>
    <h1 class="text-2xl font-bold mb-4">Productos</h1>
    <div
        class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-w-screen-xl mx-auto justify-center"
    >
        <ProductCard
            href="/detalle"
            imageUrl="/images/producto1.webp"
            price="$19.99"
            oldPrice="$10"
            title="Wireless Headphones"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit..."
        />

        <ProductCard
            href="/detalle"
            imageUrl="/images/producto1.webp"
            price="$19.99"
            oldPrice="$10"
            title="Wireless Headphones"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit..."
        />

        <ProductCard
            href="/detalle"
            imageUrl="/images/producto1.webp"
            price="$19.99"
            oldPrice="$10"
            title="Wireless Headphones"
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit..."
        />
    </div>
</Layout>
