---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
  </head>
  <body class="bg-white min-h-screen">
    <!-- Navbar como componente -->
    <Navbar />

    <!-- <main class="flex-grow w-full mx-auto max-w-screen-xl"> -->
    <main class="flex-grow w-full mx-0 max-w-none">
      <slot />
    </main>

    <!-- Footer como componente -->
    <Footer />
  </body>
</html>
