---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import RegisterModal from "../components/RegisterModal.astro";
import LoginModal from "../components/LoginModal.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
  </head>
  <body class="bg-gray-100 ">
    <!-- Navbar como componente -->
    <Navbar />

    <main>
      <slot />
    </main>

    <!-- Footer como componente -->
    <Footer />
  </body>
</html>
