---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Proyecto Astro</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- Navbar como componente -->
    <Navbar />

    <main class="flex-1">
      <slot />
    </main>
    <!-- Footer como componente -->
    <Footer />
  </body>
</html>
