---
import { Icon } from "astro-icon/components";
// Se uso ruta dentro de src para poder acceder a las imagenes
const images = await Astro.glob('../assets/images/carousel/*.jpg');

---

<div class="relative overflow-hidden max-w-full mx-auto" data-carousel>
  <div class="flex transition-transform duration-500 ease-in-out w-full" data-carousel-track>
    {images.map((image) => (
      <img
        src={image.default.src}
        class="w-full h-[600px] object-cover flex-shrink-0"
        alt="Imagen del carrusel"
        loading="lazy"
      />
    ))}
  </div>

  <button
    class="absolute top-1/2 left-4 -translate-y-1/2 text-black z-10"
    data-carousel-prev
  >
    <Icon name="prev" size={50} />
  </button>
  <button
    class="absolute top-1/2 right-4 -translate-y-1/2 text-black z-10"
    data-carousel-next
  >
    <Icon name="next" size={50} />
  </button>
</div>


<script src="/scripts/carousel.js" defer></script>
