---
// src/components/Carousel.astro
import { Icon } from "astro-icon/components";
---

<div class="relative overflow-hidden" data-carousel>
  <div class="flex transition-transform duration-500" data-carousel-track>
    <slot />
  </div>
  <button
    class="absolute top-1/2 left-0 -translate-y-1/2 text-black px-2 cursor-pointer"
    data-carousel-prev
  >
    <Icon name="prev" size={50} />
  </button>
  <button
    class="absolute top-1/2 right-0 -translate-y-1/2 text-black px-2 cursor-pointer"
    data-carousel-next
  >
    <Icon name="next" size={50} />
  </button>
</div>

<script src="/scripts/carousel.js" defer></script>
