---
// Footer.astro
---

<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto text-center">
        <p>&copy; 2025 Mented Cosmetics. All Rights Reserved.</p>
        <div class="mt-4">
            <a href="/about" class="text-blue-400 hover:underline mx-2">About</a
            >
            <a href="/faq" class="text-blue-400 hover:underline mx-2">FAQ</a>
            <a href="/shipping" class="text-blue-400 hover:underline mx-2"
                >Shipping & Returns</a
            >
        </div>
    </div>
</footer>
