---
const { producto } = Astro.props; // Desestructurar la prop "producto"
---

<div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/5 flex-shrink-0 p-2">
  <div class="p-4 bg-white shadow rounded text-center">
    <img
      src={producto.imagen}
      class="w-4/5 h-auto rounded-lg mb-2 mx-auto"
      alt="Producto"
    />
    <h2 class="text-sm font-semibold">{producto.nombre}</h2>
    <p class="descripcion-limitada text-xs text-gray-600 mt-1">
      {producto.descripcion}
    </p>
    <div class="text-lg font-bold text-gray-800 mt-2">{producto.precio}</div>
  </div>
</div>
