<button
  id="add-button"
  class="min-w-48 bg-[var(--color-aside-bg)] text-[var(--color-text-primary)] px-4 py-2 rounded-md hover:bg-[var(--color-text-primary)] hover:text-white"
  >+ Agregar
</button>
