<button
  id="add-button"
  class="min-w-48 bg-aside-bg text-text-primary px-4 py-2 rounded-md hover:bg-text-primary hover:text-white"
  >+ Agregar
</button>

<script type="module">
  document.getElementById("add-button").addEventListener("click", () => {
    const modal = document.getElementById("modal-form");
    modal.dataset.mode = "add"; // Esto es importante
    modal.dataset.id = ""; // Limpiamos el id anterior
    modal.style.display = "block";
    const form = modal.querySelector("form");
    if (form) form.reset();
  });
</script>
