<footer
  class="fixed bottom-0 left-0 w-full bg-[var(--color-aside-bg)] md:hidden"
>
  <nav
    class="flex justify-around items-center py-3 text-[var(--color-text-primary)] text-xl"
  >
    <a href="#" class=""></a>
    <a href="#" class=""></a>
    <i>
      <img src="" alt="Logo" class="h-7 w-auto mr-3" />
    </i>
    <a href="#" class=""></a>
    <a href="#" class=""></a>
  </nav>
</footer>
