<!-- Title -->
<h2 class="text-4xl font-bold text-[var(--color-text-primary)]">
  Registro de Productos
</h2>

<!-- Search, add and filter products -->
<div
  class="flex flex-col md:flex-row w-full md:items-center md:justify-between gap-3"
>
  <!-- Search + button -->
  <input
    type="text"
    placeholder="Search for products"
    class="w-full md:w-64 px-4 py-2 border border-[var(--color-aside-bg)] rounded-md focus:outline-none focus:ring-2 focus:ring-[var(--color-text-primary)]"
  />
  <button
    class="bg-[var(--color-aside-bg)] text-[var(--color-text-primary)] px-4 py-2 rounded-md hover:bg-[var(--color-text-primary)] hover:text-white"
    >+ Agregar
  </button>

  <!-- Filters -->
  <button
    type="button"
    id="menu-filter"
    aria-expanded="true"
    aria-haspopup="true"
    >Filtrar
  </button>
</div>
