---
import astroLogo from "../assets/astro.svg";
---

<aside
  class="bg-[var(--color-aside-bg)] flex-none text-[var(--color-text-primary)] p-5 space-y-6 overflow-hidden hidden md:block"
>
  <div class="nombre-pagina">
    <i>
      <img src={astroLogo.src} alt="Logo" class="h-10 w-auto mr-3" />
    </i>
    <span class="font-bold text-lg text-[var(--color-text-primary)]" id="title">
      Ecommerce
    </span>
  </div>

  <div class="flex text-secondary mt-6">
    <div class="w-12 flex justify-center items-center">
      <i class="text-md"></i>
    </div>
    <!-- User Data-->
    <div class="flex flex-col flex-1">
      <span id="username" class="nombre font-semibold">Nombre</span>
      <span id="email" class="email text-sm">email</span>
    </div>
  </div>

  <nav class="flex flex-col gap-4">
    <ul>
      <!-- Crud admin-->
      <li>
        <a href="./pages/index.astro">
          <i class=""></i>
          <span class="text-md">CRUD</span>
        </a>
      </li>
      <!-- Purchase Order List-->
      <li>
        <a href="">
          <i class=""></i>
          <span class="text-menu text-md">Ordenes de compra</span>
        </a>
      </li>
    </ul>

    <!--Exit Button-->
    <div class="flex text-secondary mt-6">
      <a
        href="#"
        class="w-full text-[var(--color-text-primary)] hover:text-white"
      >
        <i class="h-11 w-12.5 text-center fa-solid fa-right-from-bracket"></i>
        <span class="text-menu text-md">Salir</span>
      </a>
    </div>
  </nav>
</aside>

<!--Sidebar Down-->
<aside
  class="fixed bottom-0 left-0 w-full bg-[var(--color-aside-bg)] md:hidden"
>
  <nav
    class="flex justify-around items-center py-3 text-[var(--color-text-primary)] text-xl"
  >
    <a href="#" class=""></a>
    <a href="#" class=""></a>
    <i>
      <img src={astroLogo.src} alt="Logo" class="h-7 w-auto mr-3" />
    </i>
    <a href="#" class=""></a>
    <a href="#" class=""></a>
  </nav>
</aside>
