---
import { Icon } from "astro-icon/components";
---

<!-- Header para móviles --><!-- Sidebar -->
<aside
  id="sidebar"
  class="bg-aside-bg barra-lateral flex-none bg-primary text-text-primary p-5 space-y-6 overflow-hidden hidden md:block"
>
  <div class="nombre-pagina">
    <span class="font-bold text-2xl text-text-primary" id="titulo-pagina">
      Aromas
    </span>
  </div>
  <div class="flex text-secondary">
    <div class="w-12 flex justify-center items-center">
      <Icon name="user" class="text-5xl" />
    </div>
    <div class="flex flex-col flex-1">
      <span id="username" class="font-semibold"></span>
      <span id="email" class="text-sm"></span>
    </div>
  </div>
  <div class="linea"></div>

  <nav class="navegacion">
    <ul class="text-secondary flex flex-col gap-4">
      <li>
        <a href="/" class="flex gap-2">
          <Icon name="storage" class="text-2xl" />
          <span class="text-menu text-md">Productos</span>
        </a>
      </li>
      <li>
        <a
          id="logout"
          href="#"
          class="w-full flex gap-2 text-secondary hover:text-text-primary"
        >
          <Icon name="logout" class="text-2xl" />
          <span class="text-menu text-md">Salir</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>

<!-- Script para toggle -->
<script is:inline>
  const walletBtn = document.getElementById("wallet");
  const sidebar = document.querySelector(".barra-lateral");
  const spans = document.querySelectorAll("span");
  const usernameLabel = document.getElementById("username");
  const emailLabel = document.getElementById("email");
  const logoutBtn = document.getElementById("logout");

  // Llamar al endpoint para cerrar sesión
  logoutBtn.addEventListener("click", async () => {
    try {
      await fetch("http://localhost:3000/api/auth/logout", {
        method: "POST",
        credentials: "include",
      });
    } catch (err) {
      console.error("Error cerrando sesión", err);
    }

    window.localStorage.clear();
    window.sessionStorage.clear();
    window.location.href = "/login";
  });

  const user = JSON.parse(window.localStorage?.getItem("user") || "{}");

  usernameLabel.textContent = user.name;
  emailLabel.innerText = user.email;

  if (walletBtn && sidebar && spans) {
    walletBtn.addEventListener("click", () => {
      sidebar.classList.toggle("mini-barra-lateral");

      spans.forEach((span) => {
        span.classList.toggle("oculto");
      });
    });
  }
</script>
