---
import ArrowDown from "../../icons/arrow-down.svg";
import { getImage } from "astro:assets";

const arrowDownIcon = await getImage({ src: ArrowDown });
const resCategories = await fetch("http://localhost:3000/categories");
const categories = await resCategories.json();
const { product, isEditMode } = Astro.props; // Recibe `isEditMode` para controlar la visibilidad del campo 'status'
---

<form
  id="productForm"
  enctype="multipart/form-data"
  class="bg-white w-full rounded p-6 flex flex-col"
>
  <!--Category -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="category"
    >
      Categoría:
    </label>
    <select
      name="select-category"
      id="category"
      class="flex-1 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      style={`background-image: url(${arrowDownIcon.src}); ;
      background-repeat: no-repeat;
      background-position: right 0.7rem top 50%;
      background-size: 0.65rem auto;`}
    >
      <option value="" class="text-gray-400">Selecciona una categoría</option>

      {categories.map((cat: any) => <option value={cat.id}>{cat.name}</option>)}
    </select>
  </div>

  <!--Product Name -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="product-name"
    >
      Nombre:
    </label>
    <input
      class="flex-1 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="product-name"
      type="text"
      name="product-name"
      value={product ? product.name : ""}
      required
    />
  </div>

  <!--Product Brand -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="product-brand"
    >
      Marca:
    </label>
    <input
      class="flex-1 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="product-brand"
      type="text"
      name="product-brand"
      value={product ? product.brand : ""}
      required
    />
  </div>

  <!--Product Description -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="product-description"
    >
      Descripción:
    </label>
    <input
      class="flex-1 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="product-description"
      type="text"
      name="product-description"
      value={product ? product.description : ""}
      required
    />
  </div>

  <!--Product price -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="product-price"
    >
      Precio:
    </label>
    <input
      class="flex-1 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="product-price"
      type="number"
      name="product-price"
      value={product ? product.price : ""}
      required
    />
  </div>
  <!--Product quantity -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="product-stock"
    >
      Cantidad:
    </label>
    <input
      class="flex-1 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="product-stock"
      type="number"
      name="product-stock"
      value={product ? product.stock : ""}
      required
    />
  </div>

  <!--Product status -->
  {
    isEditMode ? null : (
      <div class="mb-4 w-full flex flex-col">
        <label
          class="text-left block text-gray-700 text-sm font-bold mb-2"
          for="product-status"
        >
          Estatus:
        </label>
        <div class="flex justify-center gap-4">
          <div>
            <input
              class="p-2"
              id="product-status-inactive"
              type="radio"
              name="product-status"
              value="0"
            />
            <span>Inactivo</span>
          </div>
          <div>
            <input
              class="p-2"
              id="product-status-active"
              type="radio"
              name="product-status"
              value="1"
              checked
            />
            <span> Activo</span>
          </div>
        </div>
      </div>
    )
  }

  <!--Product image -->
  <div class="mb-4 w-full flex flex-col">
    <label
      class="text-left block text-gray-700 text-sm font-bold mb-2"
      for="product-image"
    >
      Imagen:
    </label>
    <input
      id="product-image"
      type="file"
      name="product-image"
      accept="image/*"
      class="mt-1 block w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-4
           file:rounded-full file:border-0 file:text-sm file:font-semibold
           file:bg-blue-50 file:text-gray-800 hover:file:bg-blue-100"
      required
    />
  </div>
</form>
