---
import Header from "../components/Header.astro";
import SearchButton from "../components/SearchButton.astro";
import AddButton from "../components/AddButton.astro";
import Table from "../components/Table.astro";
import LayoutAdmin from "../layouts/LayoutAdmin.astro";
import ModalForm from "../components/ModalForm.astro";
---

<LayoutAdmin>
  <main class="flex-1 p-6">
    <section
      class="flex flex-col h-full p-6 space-y-6 bg-white rounded-lg shadow-md"
    >
      <Header />
      <div
        class="flex flex-col md:flex-row w-full md:items-center md:justify-between gap-2.5"
      >
        <SearchButton />
        <AddButton />
      </div>
      <Table />
    </section>
  </main>
</LayoutAdmin>

<ModalForm />

<script type="module">
  document.getElementById("add-button").addEventListener("click", () => {
    const modal = document.getElementById("modal-form");
    modal.style.display = "block";
  });
</script>
