---
import Header from "../components/Header.astro";
import SearchButton from "../components/SearchButton.astro";
import AddButton from "../components/AddButton.astro";
import Table from "../components/Table.astro";
import LayoutAdmin from "../layouts/LayoutAdmin.astro";
import ModalForm from "../components/AddProducts/ModalForm.astro";
import FormAddProduct from "../components/AddProducts/FormAddProduct.astro";
---

<LayoutAdmin>
  <main class="flex-1 p-6">
    <section
      class="flex flex-col h-full p-6 space-y-6 bg-white rounded-lg shadow-md"
    >
      <Header />
      <div
        class="flex flex-col md:flex-row w-full md:items-center md:justify-between gap-2.5"
      >
        <SearchButton />
        <AddButton />
      </div>
      <Table />
    </section>
  </main>

  <ModalForm>
    <FormAddProduct />
  </ModalForm>

  <script type="module">
    function openAddModal() {
      const modal = document.getElementById("modal-form");
      modal.dataset.mode = "add";
      modal.dataset.id = "";
      modal.style.display = "block";

      const form = modal.querySelector("form");
      if (form) form.reset();
    }

    function openEditModal(product) {
      console.log(product);

      const modal = document.getElementById("modal-form");
      modal.dataset.mode = "edit";
      modal.dataset.id = product.id;
      modal.style.display = "block";

      const form = modal.querySelector("form");
      if (form) {
        form.reset();
        form.querySelector('[name="product-name"]').value = product.name || "";
        form.querySelector('[name="product-brand"]').value =
          product.brand || "";
        form.querySelector('[name="product-price"]').value =
          product.price || "";
        form.querySelector(
          `[id="${product.status ? "product-status-active" : "product-status-inactive"}"]`
        ).checked = true;
        form.querySelector('[name="product-description"]').value =
          product.description || "";
        form.querySelector('[name="product-stock"]').value =
          product.stock || "";
        form.querySelector('[name="select-category"]').value =
          product.categories_id || "";
      }
    }

    window.openAddModal = openAddModal;
    window.openEditModal = openEditModal;
  </script>
</LayoutAdmin>
